body {
    background-color: #f3f4f5;  
    padding-left: 30px;
    padding-right: 30px;
}


h2 {
    font-family: "Adobe Gothic Std B", Adobe, sans-serif;
    font-size: 25px;
    color: #d86f01;
}


h3 {
    font-family: "Adobe Gothic Std B", Adobe, sans-serif;
    font-size: 20px;
    color: #d86f01;
}

p  {
    font-family: "Adobe Gothic Std B", Adobe, sans-serif;
    font-size: 15px;
    color: #000; 
}


/*
* Titolo e logo sito
*/
#title {
    color: #d86f01;
    font-family: "Adobe Gothic Std B", Adobe, sans-serif;
    font-size: 15px;
    letter-spacing: 1.5px;
    text-indent: 50px;
}
/*
* Barra di Navigazione
*/
.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #f3f4f5;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-family: "Adobe Gothic Std B", Adobe, sans-serif;
    font-weight: bold;
}

nav li a:hover {
    background-color: #111;
}

.active {
    background-color: #d86f01;
}


.checkList {
    background-image: url('img/icon.png');
    background-repeat: no-repeat;
    padding-left: 30px;
    margin-top: 15px;
}

#navBody {
    background-color: #fff;
    margin-right: 1050px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #ccc;
}

#navBody ul {
    list-style: none;
}
.des-link:link, .des-link:visited {
    width: 150px;
    color: #000;
    text-decoration: none;
    font-family: "Adobe Gothic Std B", Adobe, sans-serif;
}

.des-link:hover  {
    color: #d86f01;
    background-color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.des-link:active {
    color: #d86f01;
    background-color: #fff;
    font-weight: bold; 
    cursor: pointer;
}

input[type=email], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.loginForm, .inputForm {
    background-color: #fff;
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.loginForm {
    margin-right: 300px;
    margin-left: 300px;
}

#loginTitle, #profileTitle {
    text-align: center;
}



